header {
    height: 80px;
    width: 100%;
    margin-bottom: 18px;
    background-color: #000000;
    padding: 0px 18px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 18px;
    color: #fff;
}

.navbar-logo img {
    height: 50px;
}

.navbar-logo {
    will-change: filter;
    transition: filter 300ms;
    -webkit-transition: filter 300ms;
    -moz-transition: filter 300ms;
    -ms-transition: filter 300ms;
    -o-transition: filter 300ms;
}

.navbar-logo:hover {
    filter: drop-shadow(0 0 2em #64ff71fb);
    -webkit-filter: drop-shadow(0 0 2em #64ff71aa);
}

.navbar-list {
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.navbar-list-a {
    font-weight: 500;
    color: #ffffff;
    text-decoration: none;
}

.navbar-list-a:hover {
    color: #64ff71aa;
}

.active {
    color: #ffa114aa;
}
